.toDoNewBoxInputs{
  display: flex;
  flex-direction: column; 
  gap: 20px;
}
.toDoNewBoxInput{
  display: flex;
  flex-direction: column; 
  gap: 10px;
}
.toDoNewBoxInput p{
  font-weight: 700;
  font-size: 30px;
}
.toDoNewBoxInput label{
  font-weight: 700;
}
.inputText, 
.inputContent {
	width: calc(100% - 24px);
	height: 15px;
	font-size: 13px;
  border: 1px solid black;
  padding: 10px;
  outline: none;
}

.toDoNewBoxDeadline{
  display: flex;
  justify-content: space-between;
}

.saveBtn {
  background-color: #FFDD28; /* 기본 활성화된 상태의 배경색 */
  padding: 10px;
  color: black;
  font-size: 13px;
  cursor: pointer;
  border: 1px solid black;
  transition: background-color 0.3s ease;
}
.saveBtn:disabled {
  background-color: #a9a9a970; 
  cursor: not-allowed;
}